


#heading{
  color: #2F483E;
  position: absolute;
  
  padding: 5px 30px 10px 30px;
  top: 30px;
   

  
  text-align: center !important;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #776338;
 
  background-color:#e5e5e5;
  border: 1.5px solid #7e7e6b;
  margin: auto 0;
  margin-left: 90px ;

  margin-right: 90px ;



}


#parent{

  box-sizing: content-box;
display: grid;
max-height: max-content;
max-width: max-content;


}
  
  .main-text{

 
  font-size: 20pt;
  color: #2F483E;

  
  
  
  
  }

  .top:hover{
 
    color:#42253B;
    right: -810px;
  }
  



.Plain{text-decoration: none;}
  .top{

    background-color:#e5e5e5;
    border: 1.5px solid #7e7e6b;
    width:900px;
    right: -800px;
  
    font-size: 20pt;
    color: #776338;
    padding: 5px 15px 5px 15px;
    position: fixed;
    z-index: 20;
    margin: 0% !important;
   
    
    
    }
    #top:hover{
 
      color:#42253B;
      right: -810px;
    }
    
  



.subtitle{
  

font-size: 22pt;
color: #776338;
margin-left: 90px ;

margin-right: 90px ;

}  



#section-1{
  box-sizing: content-box;

  position: absolute;
  top: 120px;
  text-align: center;
  
  font-family: 'Playfair Display', serif;
  background-color:#e5e5e5;
  border: 1.5px solid #7e7e6b;
  padding: 5px 10px 5px 10px;
 
  
 
}








#section-6{
  box-sizing: content-box;

  
  top:1010px;
  text-align: center;
  position: absolute;
  font-family: 'Playfair Display', serif;
  background-color:#e5e5e5;
  border: 1.5px solid #7e7e6b;
  padding: 5px 10px 5px 10px;
  
  left:50%;
   
  margin-left:-110px;
  


}

        

      


#photo-code{
  
display: block;
background:top;

top:1090px;
 
  
width: 400px; height: auto;  
   
position: absolute;

right: 645px; 

 
  }
  #photo-example{
    
  display: block;
  background:top;
 
  top:1090px;
   
    
 width: 400px; height: 200px;  
     
position: absolute;

right: 240px; 
  
  
   
    }


body{
background-color: #845A6D;
}
#bottom{font-family: 'Playfair Display', serif;font-size: 18pt;
  color: #0a2a1d;
  

top:1300px ;
margin: 0 auto;
display:block;
position: absolute;
right: 550px;


}
#background{
  z-index: -99999 !important;
 position: absolute;
 background-size:contain;
 
 width: 1300px;
 height: 1000px;
 margin-inline-end: 5px;
  
}

 #background{
  z-index: -99999 !important;
  
 background-size: 100%;
 
 
 
  
  


}
    

  


    