




  #index-heading{
    color:  #D5D5CC;
    position: relative;
    
    
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    -webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: #222A30;
   
    background-color:#2F483E;
    border: 1.5px solid #7e7e6b;
  
  
  
  }




  #brain{
    border: #7e7e6b solid thick;
width: 300px;
    height: auto;
  }
  #about-me-heading{
    color: #D5D5CC;
    position: absolute;
    left: 500px;
    padding: 5px 30px 10px 30px;
    top: 30px;
    width: 300px;
    
    text-align: center !important;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    -webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: #222A30;
   
    background-color:#2F483E;
    border: 1.5px solid #7e7e6b;
    margin: auto 0px;
  
  
  
  }
  
  #Space-Place:hover{color:#42253B;
    left: 32px; top:140px;



}
#mindset:hover{color:#42253B;
  left: 810px; 



}
#index-about-me:hover{
  margin-left: 30px;
  color:#42253B;

}
#index-blogs:hover{
  margin-left: 30px;
  color:#42253B;}

   


 
      


  
#photo{
  margin: auto;

background:top;
  display: block;
  border: #7e7e6b solid thick;
position: absolute;

border-radius: 150px; 
width: 250px; height: auto;  
position: relative;
margin-top: -100px;
margin-right: 1000px;
left: 1000px;
opacity: 90%;
 
}




    .index-main-text{

      
      font-size: 20pt;
      
      position: absolute;
      text-align: center;
      top:145px;
      background-color:#2F483E;
      height: 100px;
      width: 950px;
      padding:  5px 5px 5px 10px;
      margin: auto;
      border: 2px solid #7e7e6b;
      font-family: 'Playfair Display', serif;
      
     
      color: #D5D5CC;
    
      
      
      
      
      }
    
    
    
    
  
.index-subtitle{

      font-family: 'Playfair Display', serif;
        font-size: 25pt;
        box-sizing: content-box;
      
        text-align: center !important;
        
       
        
       
        background-color: #D5D5CC;
        border: 1.5px solid #7e7e6b;
        
        color: #776338;
       
        position:absolute;
        height: 50px;
        width: 260px;
        padding:  5px 5px 5px 10px; }

  
.Plain{text-decoration: none;}

#index-about-me{
  position: absolute;
  margin-left: 5px;
  margin-top: -90px;
 }

 #index-blogs{
  position: absolute;
  margin-left: 5px;
  margin-top: -20px;
 }

 #eq-content-container {
  
  display: flex;
  
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 1200px;
 }

 
 #blog-content-container {
  
 
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 900px;
 }
 #index-content-container {
  
 
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 700px;
 }
 #java-content-container {
  
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 2800px;
 }
 #mindset-content-container {
  
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 2300px;
 }
 
 #plan-content-container {
  
  display: flex;
  
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 1900px;
 }

 #space-content-container {
  
  display: flex;
  
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 1700px;
 }

 #values-content-container {
  
  display: flex;
  
  justify-content:space-between;
  flex-direction: column;
  max-height: 2700px;
  min-height: 2000px;
 }


.blog-subtitle{
  position: absolute;
  top: 130px;

  
  box-sizing: content-box;
  background-color:#e5e5e5;
  height: 90px;
  width: 300px;
  padding: 5px 5px 5px 10px;
  margin: auto;
  border: 0.5px solid #845A6D;
  
}

.blog-sprint{

  font-family: 'Playfair Display', serif;
  font-size: 15pt;
  color: #42253B;
  box-sizing: content-box;
  font-style:italic;
  text-align: center ;

 

}

#top-home{
 background-color:#e5e5e5;
  border: 1.5px solid #7e7e6b;
  width:900px;
  right: -800px;

  font-size: 20pt;
  color: #776338;
  padding: 5px 15px 5px 15px;
  position: fixed;
  z-index: 20;
  
  margin-top: 0px;
 
  
  
  }
 
#top-home:hover{
 
  color:#42253B;
  right: -810px;
  
}

#credits{

  font-family: 'Playfair Display', serif;
  font-size: 18pt;
  color: #D5D5CC;
  
  
  text-align: center !important;
  
  font-style:italic;
  
  padding: 5px 15px 5px 15px;
  position: relative;
  -webkit-text-stroke-width: 0.3px;
 
  -webkit-text-stroke-color: #222A30;
  
 margin: 0 auto;
 bottom: -350px;
  


}

 
  

    #blog-heading{
      color: #D5D5CC;
      position: relative;
      margin-left: 5px;
    top:0px;
    width: 1000px;
      
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-size: 75px;
      -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0a2a1d;
     
      background-color:#2F483E;
      border: 1.5px solid #7e7e6b;
      padding: 5px 50px 5px 50px ;
     
      
    
    }
  
   
    
    
     
   
   
 
 
  
  
   
  #values-ethics:hover{color:#42253B;
    left: 20px; top: 130px;}
  
  
     
 #space-place:hover{color:#42253B;
      left: 410px; top: 130px;
     }
     #learning-plan:hover{color:#42253B;
      left: 810px; top: 130px;
     }
     #emotional-intelligence:hover{color:#42253B;
      left: 20px;
     }
     #JS:hover{color:#42253B;
      left: 410px;
     }
    
  
     
     #Values-Ethics{
    
      text-align: center;
      left: 10px;
     }



     #emotional-intelligence{ text-align: center;
      left: 10px;
    
    
    top: 280px;}

    #JS{
  
      text-align: center;
      left: 400px;
      top: 280px;
     }

    
    #space-place{
      
      text-align: center;
     left: 400px;}
      
    #mindset{
     text-align: center;
     left: 800px;
     top: 280px;}
      
  #learning-plan{
  
    text-align: center;
   left: 800px;
    margin: auto;
   }
  
  
   body{
    background-color: #7e7e6b ;}



















    #background{
      z-index: -99999 !important;
      
     background-size: 100%;
     
     
    
    }
  .subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 26pt;
    
    text-align: center !important;
    
  
  color: #776338;
  
  }  

  .small-subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 19pt;
    
    text-align: center !important;
    
  
  color: #2F483E;
  
  }  
 
  
  .main-text{font-family: 'Playfair Display', serif;
    font-size: 16pt;
    color: #2F483E;
    
    
    text-align: center !important;
    
    font-style:italic;
    
   
   
    
   
   }

   #list-text{font-family: 'Playfair Display', serif;
    font-size: 16pt;
    color: #2F483E;
    
    
    
    
    font-style:italic;
    
   text-align: left !important;
   
    
   
   }




    #blog-border{
      top: 200px;
     position: absolute;
      margin-left: 90px ;
      margin-right: 290px;
      background-color: #D5D5CC;
      padding: 10px 20px 10px 20px;
   
      }

      #footer{
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        color: #D5D5CC;
        position: relative;
       text-align: left;
      background-color: #2F483E;
     border: #D5D5CC;
      
      z-index: 5;
      height: 80px;
      
      }
      
  






  
        




      #Space-place-for-example{
        box-sizing: content-box;
      
        
        top:0px;
        text-align: center;
        position: relative;
        font-family: 'Playfair Display', serif;
        
        padding: 5px 10px 5px 10px;
        
        
        
      
      
      }
      
              
      
            
      
      
      #photo-code{
        
      display: block;
      background:top;
      
      top:0px;
       
        
      width: 400px; height: auto;  
         
      position: relative;
      
      right: 0px; 
      border: 2px solid #776338;
       
        }
        #photo-example{
          
        display: block;
        background:top;
       
        top:-150px;
         
          
       width: 400px; height: 200px;  
           
      position: relative;
      
      right: -430px;
      border: 2px solid #776338;
        
         
          }

       #java-example{
        
            display: block;
            background:top;
            
            top:0px;
             
              
            width: 400px; height: auto;  
               
            position: relative;
            
            right: 0px; 
            border: 2px solid #776338;
            margin: 0px auto;
              }
     
 
  
              #github {
     
      
                width: 50px; height: auto;  
                   
                position: relative;
                
               
              left: 1160px;
              top: 15px;
        
              
                }
            
          




  


